<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>MacTimeLog</string>
	<key>CFBundleHelpBookFolder</key>
	<string>MacTimeLog Help</string>
	<key>CFBundleHelpBookName</key>
	<string>MacTimeLogHelp</string>
	<key>CFBundleIconFile</key>
	<string>iconset.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.SPlyer.PartioTime</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PartioTime</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>.01</string>
	<key>CFBundleSignature</key>
	<string>MacOS</string>
	<key>CFBundleVersion</key>
	<string>Devs</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>MacTimeLogApplication</string>
</dict>
</plist>
